.body{
    color: aqua;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.kompasiana.com%2Finfohariinijakarta3056%2F63266c7808a8b55cf56a5b32%2Fhacker-background-wallpaper-bergerak-gif-video-android-viral-di-trend-google&psig=AOvVaw2qZPLg_P-hCuO9wGupuDyr&ust=1670852497349000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCOj969rY8fsCFQAAAAAdAAAAABAh);
}

.ijo{
    color: red;
    font-size: 30px;
    height: 20pxp;
}
    
)